<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> 

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Shopping 4U</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/personal_shopper">Personal Shoppers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ingaggi">Lista Ingaggi</a>
        </li>
    </ul>
</nav>

<h1 style="font-size:24px;text-align:center;">Home</h1>
<h3>Benvenuto in Shopping4U</h3>

<p>Vai alla lista dei <a href="personal_shopper.ejs">Personal Shopper</a></p>
<br /><br />
<p class="text-center text-muted">&copy; Copyright 2021 - Shopping 4U</p>