<table class="table table-striped table-dark">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Evaluation</th>
        </tr>
    </thead>
    <tbody>
        <% personalShoppers.forEach(personalShopper=> { %>
            <tr>
                <td>
                    <%= personalShopper._id %>
                </td>
                <td>
                    <%= personalShopper.Name %>
                </td>
                <td>
                    <%= personalShopper.Location %>
                </td>
                <td>
                    <%= personalShopper.Evaluation %>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>